{% extends "kebseHTML.html" %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}
    signin
    {% endblock %}
</head>
<body>
{% block content %}
    <form method="post"  style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-danger" style="position: fixed; left: 30%; margin-top: 3%; ">Регистрация</button>
    </form>
{% endblock %}
</body>
</html>